# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
.venv/
env/

# Environment variables / secrets
.env

# Local Dash / Flask
.instance/

# OS/editor files
.DS_Store
Thumbs.db
.vscode/
.idea/

# Logs
*.log